<li>@Html.ActionLink("ENDEREÇOS", "List", "Posicaodeposito")</li>
<li>@Html.ActionLink("RECEBIMENTO", "List", "Listarecebimento")</li>
<li>@Html.ActionLink("ARMAZENAGEM", "List", "Materialarmazenado")</li>
<li>@Html.ActionLink("MOVIMENTAÇÃO", "List", "Materialmovimentado")</li>
<li>@Html.ActionLink("INVENTÁRIO", "List", "Materialinventariado")</li>
<li>@Html.ActionLink("ATENDIMENTO", "List", "Atendimento")</li>
<li>@Html.ActionLink("ACOMPANHAMENTO", "List", "Acompanhamento")</li>
<li>@Html.ActionLink("TRANSFERÊNCIAS", "List", "Materialtransferencia")</li>
<li>@Html.ActionLink("EMAILS ENVIADOS", "List", "EmailEnviado")</li>