@model SPW.Models.ArmazenagemViewModel

<h1>ARMAZENAGEM</h1>


<hr />
<h3>Pesquisa:</h3>
@using (Html.BeginForm("Search", "Materialarmazenado"))
{
    <div class="form-inline">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-12">
                <label>Código Material: </label>
                @Html.Editor("Filtro.CodMaterial", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>  <div class="form-group">
            <div class="col-md-12">
                <label>Material: </label>
                @Html.Editor("Filtro.Nome", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label>Depósito: </label>
                @Html.Editor("Filtro.Deposito", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label>Início: </label>
                @Html.Editor("Filtro.DataHoraInicio", new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label>Fim: </label>
                @Html.Editor("Filtro.DataHoraFim", new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            </div>
        </div> <div class="form-group">
            <div class="col-md-12">
                <label>Operador: </label>
                @Html.Editor("Filtro.Usuario", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4" style="vertical-align: bottom;">
                <input type="submit" value="Filtrar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<br />
<h3>Lista:</h3>
<table class="table-striped">
    <tr>

        <th>
            CodMaterial
        </th>

        <th>
            Nome
        </th>

        <th>
            Qtd. armazenada
        </th>

        <th>
            Qtd. contada
        </th>
        <th>
            Divergência
        </th>
        <th>
            UMB
        </th>
        <th>
            Dep. Origem
        </th>
        <th>
            Dep. Destino
        </th>
        <th>
            Endereço
        </th>

        <th>
            Início
        </th>
        <th>
            Fim
        </th>

        <th>
            Usuário
        </th>

        <th>
            Retorno do Sap
        </th>

    </tr>

    @foreach (var item in Model.Materiais)
    {
    <tr>

        <td>
            @Html.DisplayFor(model => item.CodMaterial)
        </td>

        <td>
            @Html.DisplayFor(model => item.Nome)
        </td>

        <td>
            @Html.DisplayFor(model => item.Quantidade)
        </td>

        <td>
            @Html.DisplayFor(model => item.QuantidadeEstoqueFisico)
        </td>
        <td @( item.QuantidadeDivergencia != 0 ? "style=color:red;font-weight:bold;" : "")>
            @Html.Raw(String.Format("{0:0.000}", item.QuantidadeDivergencia))
        </td>

        <td>
            @Html.DisplayFor(model => item.UnidadeMedida)
        </td>
        <td>
            @Html.DisplayFor(model => item.Deposito)
        </td>
        <td>
            @Html.DisplayFor(model => item.DepositoDestino)
        </td>
        <td>
            @Html.DisplayFor(model => item.PosicaoDeposito)
        </td>

        <td>
            @Html.DisplayFor(model => item.DataHoraInicio)
        </td>

        <td>
            @Html.DisplayFor(model => item.DataHoraFim)
        </td>

        <td>
            @Html.DisplayFor(model => item.Usuario)
        </td>

        <td>
            @Html.DisplayFor(model => item.RetornoSap)
        </td>

    </tr>
    }

</table>

